@model MessengerUI.Models.UsersViewModel
@using System.Security.Claims;

<div class="tab-content h-100" role="tablist">

    <div class="tab-pane fade h-100 show active" id="tab-content-dialogs" role="tabpanel">
        <div class="d-flex flex-column h-100">

            <div class="hide-scrollbar">
                <div class="container-fluid py-6">

                    <!-- Title -->
                    <h2 class="font-bold mb-6">Chats</h2>
                    <!-- Title -->
                    <!-- Search -->
                    <form class="mb-6" asp-action="Search" asp-controller="Messages" asp-route-Search="@Model.Search" method="get">
                        <div class="input-group">
                            <input asp-for="Search" class="form-control" placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                            <div class="input-group-append">
                                <button class="btn btn-ico btn-secondary btn-minimal" type="submit">
                                    <i class="fe-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Search -->
                    <!-- Chats -->
                    <nav class="nav d-block list-discussions-js mb-n6">
                        <!-- Chats -->
                        <nav class="nav d-block list-discussions-js mb-n6">
                            <!-- Chat link -->
                            @foreach (var user in Model.Users)
                            {
                                if (user.UserId != User.FindFirst(ClaimTypes.NameIdentifier).Value)
                                {
                                    <a class="text-reset nav-link p-0 mb-6" asp-action="Conversation" asp-route-recipientId="@user.UserId">
                                        <div class="card card-active-listener">
                                            <div class="card-body">

                                                <div class="media">


                                                    <div class="avatar mr-5">
                                                        @if (!String.IsNullOrEmpty(user.Image))
                                                        {
                                                            var avator = $"/api/Images/{user.Image}";
                                                            <img class="avatar-img" src="@avator" alt="@user.Name avator">
                                                        }
                                                        else
                                                        {
                                                            <img class="avatar-img" src="~/images/avatars/11.jpg" alt="Default Avator">
                                                        }
                                                    </div>

                                                    <div class="media-body overflow-hidden">
                                                        <div class="d-flex align-items-center mb-1">
                                                            <h6 class="text-truncate mb-0 mr-auto">@user.Name  @user.Surname</h6>
                                                            <p class="small text-muted text-nowrap ml-4">@user.DateSent.ToShortTimeString()</p>
                                                        </div>
                                                        <div class="text-truncate">@user.LastText</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }

                            }

                            <!-- Chat link -->
                        </nav>
                        <!-- Chats -->

                    </nav>
                    <!-- Chats -->

                </div>
            </div>

        </div>
    </div>
</div>